@media (max-width: 600px) {

    #title ul {
        flex-direction: column;
        justify-content: center;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    form h2 {
        font-size: 30px;
        line-height: 10px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px #01488f;
        font-family: poppinsmedium;
    }

    aside p {
        line-height: 20px;
        max-width: 700px;
        font-weight: 600;
        letter-spacing: .2rem;
        text-indent: 20px;
        text-shadow: 2px 2px 4px #01488f;
        margin-left: 10px;
    }

    #image1 {
        width: 105%;
        height: 150%;
        border-radius: 20px;
        box-shadow: 20px 20px 10px #01488f;
        margin-bottom: 50px;
    }

    #image2 {
        width: 100%;
        height: 50%;
        border-radius: 20px;
        box-shadow: 20px 20px 10px #01488f;
        margin-bottom: 100px;
    }

    #title img {
        border-radius: 50%;
    }

    footer {
        height: auto;
    }

    footer .rodape {
        width: 100%;
        float: none;
    }

    footer .rodape p {
        line-height: 15px;
        text-align: center;
        padding: 0;
    }

    footer .social {
        width: 100%;
    }

    footer .social a {
        width: 100%;
        height: 100%;
        line-height: 50px;
        font-size: 1.5em;
        margin-right: 10px;
    }
}